.accordion(data-accordion="single; only all and (max-width: 767px)")
  h2 Accordion #1
  section.accordion__panel
    h3.accordion__title
      button#accordion1id.accordion__trigger(
        aria-controls="sect1",
        aria-expanded="true",
        type="button",
        disabled=""
      )
        span.accordion__text
          | Panel title 1
          span.accordion__icon
    #sect1.accordion__content(aria-labelledby="accordion1id", role="region")
      .accordion__body
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quisquam a, veritatis dolores sit cum illum
        | veniam
        | quas sed repudiandae totam ea. Natus cumque asperiores ad quasi nesciunt esse neque?
        | Odit voluptas aliquam beatae ex sit eos neque reiciendis consequatur porro quidem cum ratione voluptates
        | provident, earum natus sunt nemo adipisci pariatur reprehenderit ullam quam est? Nobis nostrum earum
        | cupiditate?
        | Excepturi aut fugit, voluptas non earum officia quas illo, praesentium molestiae ex nostrum sit error
        | reprehenderit fugiat necessitatibus facilis eligendi libero reiciendis amet debitis cumque, a deleniti magni
        | ipsa!
        | Quam.
        | Neque sapiente, provident unde eaque aspernatur quam saepe consequatur autem beatae eveniet porro debitis
        | necessitatibus, reprehenderit praesentium, omnis sint repudiandae culpa corporis veritatis molestiae! Quod
        | obcaecati ratione modi amet quas?
        | Fugit distinctio autem tempora atque. Animi temporibus suscipit distinctio commodi est? Dolorum repellendus
        | hic
        | eos esse corporis cum, sequi consequuntur possimus dolores quisquam qui officiis ipsum nisi dolorem alias
        | temporibus.
  section.accordion__panel
    h3.accordion__title
      button#accordion2id.accordion__trigger(
        aria-controls="sect2",
        aria-expanded="true",
        type="button"
      )
        span.accordion__text(disabled="")
          | Panel title 2
          span.accordion__icon
    #sect2.accordion__content(aria-labelledby="accordion2id", role="region")
      .accordion__body
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quisquam a, veritatis dolores sit cum illum
        | veniam
        | quas sed repudiandae totam ea. Natus cumque asperiores ad quasi nesciunt esse neque?
        | Odit voluptas aliquam beatae ex sit eos neque reiciendis consequatur porro quidem cum ratione voluptates
        | provident, earum natus sunt nemo adipisci pariatur reprehenderit ullam quam est? Nobis nostrum earum
        | cupiditate?
        | Excepturi aut fugit, voluptas non earum officia quas illo, praesentium molestiae ex nostrum sit error
        | reprehenderit fugiat necessitatibus facilis eligendi libero reiciendis amet debitis cumque, a deleniti magni
        | ipsa!
        | Quam.
        | Neque sapiente, provident unde eaque aspernatur quam saepe consequatur autem beatae eveniet porro debitis
        | necessitatibus, reprehenderit praesentium, omnis sint repudiandae culpa corporis veritatis molestiae! Quod
        | obcaecati ratione modi amet quas?
        | Fugit distinctio autem tempora atque. Animi temporibus suscipit distinctio commodi est? Dolorum repellendus
        | hic
        | eos esse corporis cum, sequi consequuntur possimus dolores quisquam qui officiis ipsum nisi dolorem alias
        | temporibus.
  section.accordion__panel
    h3.accordion__title
      button#accordion3id.accordion__trigger(
        aria-controls="sect3",
        aria-expanded="true",
        type="button",
        disabled=""
      )
        span.accordion__text
          | Panel title 3
          span.accordion__icon
    #sect3.accordion__content(aria-labelledby="accordion3id", role="region")
      .accordion__body
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quisquam a, veritatis dolores sit cum illum
        | veniam
        | quas sed repudiandae totam ea. Natus cumque asperiores ad quasi nesciunt esse neque?
        | Odit voluptas aliquam beatae ex sit eos neque reiciendis consequatur porro quidem cum ratione voluptates
        | provident, earum natus sunt nemo adipisci pariatur reprehenderit ullam quam est? Nobis nostrum earum
        | cupiditate?
        | Excepturi aut fugit, voluptas non earum officia quas illo, praesentium molestiae ex nostrum sit error
        | reprehenderit fugiat necessitatibus facilis eligendi libero reiciendis amet debitis cumque, a deleniti magni
        | ipsa!
        | Quam.
        | Neque sapiente, provident unde eaque aspernatur quam saepe consequatur autem beatae eveniet porro debitis
        | necessitatibus, reprehenderit praesentium, omnis sint repudiandae culpa corporis veritatis molestiae! Quod
        | obcaecati ratione modi amet quas?
        | Fugit distinctio autem tempora atque. Animi temporibus suscipit distinctio commodi est? Dolorum repellendus
        | hic
        | eos esse corporis cum, sequi consequuntur possimus dolores quisquam qui officiis ipsum nisi dolorem alias
        | temporibus.
