section.l-mix-product__reviews.reviews-product
  //- Header
  header.reviews-product__header
    h2.reviews-product__title.subtitle Відгуки про Ліжко двоспальне МК-1 з підйомним механізмом
    .reviews-product__info
      p.reviews-product__counter Всього відгуків: #[span 93]
      .reviews-product__flex-group
        //- Stars
        .reviews-product__stars.stars
          .stars__item
            svg.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .stars__item
            svg.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .stars__item
            svg.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .stars__item
            svg.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .stars__item.stars__item--active
            svg.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-star")
        .reviews-product__average Середня оцінка #[span 4,5]
  //- Body
  .reviews-product__body
    article.reviews-product__review.item-review
      .item-review__comment
        //- Header
        header.item-review__header
          h3.item-review__title Іван Стедниця
          time.item-review__time(datetime="2022-01-25") 25.01.2022
          ul.item-review__stars.stars(aria-hidden="true")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item.stars__item--active
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .item-review__avatar
            img.avatar__img(src="img/products/argon.jpg", alt="Користувач")
        //- Body
        .item-review__body.base-font
          p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
        //- Actions
        .item-review__actions
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-like")
            |
            | Корисний відгук: #[span 24]
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-chat")
            |
            | Відповісти
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-x-round")
            |
            | Приховати відповіді
      .item-review__answers
        article.item-review__answer.answer
          header.answer__header
            .answer__avatar
              img(src="img/products/tokio.jpg", alt="Користувач")
            h4.answer__name Іванка Стедник
            svg.answer__arrow.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-wide")
            .answer__recipient.h5 Іван Стедниця
            time.answer__time(datetime="2022-01-25") 25.01.2022
          .answer__body.base-font
            p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
        article.item-review__answer.answer
          header.answer__header
            .answer__avatar
              //- img(src="img/products/tokio.jpg", alt="Користувач")
            h4.answer__name Дана Франко
            svg.answer__arrow.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-wide")
            .answer__recipient.h5 Іван Стедниця
            time.answer__time(datetime="2022-01-25") 25.01.2022
          .answer__body.base-font
            p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
    article.reviews-product__review.item-review
      .item-review__comment
        //- Header
        header.item-review__header
          h3.item-review__title Іван Стедниця
          time.item-review__time(datetime="2022-01-25") 25.01.2022
          ul.item-review__stars.stars(aria-hidden="true")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item.stars__item--active
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .item-review__avatar
            img.avatar__img(src="img/products/argon.jpg", alt="Користувач")
        //- Body
        .item-review__body.base-font
          p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
        //- Actions
        .item-review__actions
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-like")
            |
            | Корисний відгук: #[span 24]
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-chat")
            |
            | Відповісти
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-x-round")
            |
            | Приховати відповіді
      .item-review__answers
        article.item-review__answer.answer
          header.answer__header
            .answer__avatar
              img(src="img/products/tokio.jpg", alt="Користувач")
            h4.answer__name Іванка Стедник
            svg.answer__arrow.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-wide")
            .answer__recipient.h5 Іван Стедниця
            time.answer__time(datetime="2022-01-25") 25.01.2022
          .answer__body.base-font
            p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
        article.item-review__answer.answer
          header.answer__header
            .answer__avatar
              //- img(src="img/products/tokio.jpg", alt="Користувач")
            h4.answer__name Дана Франко
            svg.answer__arrow.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-wide")
            .answer__recipient.h5 Іван Стедниця
            time.answer__time(datetime="2022-01-25") 25.01.2022
          .answer__body.base-font
            p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
    article.reviews-product__review.item-review
      .item-review__comment
        //- Header
        header.item-review__header
          h3.item-review__title Іван Стедниця
          time.item-review__time(datetime="2022-01-25") 25.01.2022
          ul.item-review__stars.stars(aria-hidden="true")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item.stars__item--active
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
            li.stars__item
              svg.icon
                use(xlink:href="img/icons/symbol-defs.svg#icon-star")
          .item-review__avatar
            img.avatar__img(src="img/products/argon.jpg", alt="Користувач")
        //- Body
        .item-review__body.base-font
          p Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.
        //- Actions
        .item-review__actions
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-like")
            |
            | Корисний відгук: #[span 24]
          button.item-review__button.button-item-review(type="button")
            svg.button-item-review__icon.icon
              use(xlink:href="img/icons/symbol-defs.svg#icon-x-round")
            |
            | Передумав
          button.item-review__button.button-item-review(type="button")
            span.button-item-review__counter 999
            |
            | Показати відповіді
      form.item-review__form.form-answer(
        method="POST",
        action="https://jkorpela.fi/cgi-bin/echo.cgi"
      )
        .form-answer__header
          svg.form-answer__icon.icon
            use(xlink:href="img/icons/symbol-defs.svg#icon-arrow-twisted")
          h3.form-answer__title Відповідь для Іван Стедниця
        .form-answer__fields
          .form-answer__field-group
            input.form-answer__input.field(
              type="text",
              name="full-name",
              placeholder="Ваше ім'я прізвище",
              required
            )
            input.form-answer__input.field(
              type="email",
              name="email",
              placeholder="Імейл",
              required
            )
          textarea.form-answer__textarea.field(
            name="message",
            placeholder="Відгук",
            required
          )
          .form-answer__actions
            button.form-answer__button.button Відправити
            button.form-answer__button.button.button--skeleton(type="reset") Відмінити
  //- Footer
  .reviews-product__footer
    button.reviews-product__more.button(type="button")
      svg.icon
        use(xlink:href="img/icons/symbol-defs.svg#icon-reload")
      |
      | Показати ще відгуки
